<footer>
  <i class="fa-solid fa-chevron-up" id="footer-miennam" style="display: flex; 
  justify-content: center;
  transform: translateY(1vh);"></i>
    <div class="p-80 d-flex m-w-70">
      <div class="logo-img">
        <a href=""><img src="../assets/logo.png" alt="logo" /></a>
      </div>
      <div class="contact-form">
        <form action="">
          <div class="row">
            <div class="col-2">
              <input class="form-control" type="text" placeholder="Name" />
            </div>
            <div class="col-2">
              <input class="form-control" type="text" placeholder="Email" />
            </div>
          </div>
          <div class="col-1">
            <input class="form-control" type="text" placeholder="Phone Number" />
          </div>
          <div class="col-1">
            <input class="form-control" type="text" placeholder="Address" />
          </div>
          <div class="col-1">
            <textarea
              class="form-control"
              cols="30"
              rows="10"
              placeholder="Content Detail ..."
            ></textarea>
          </div>
          <div class="col-1">
            <button type="submit" class="form-btn">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </footer>