<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('./home1-style.ejs'); %>
</head>

<body>
    <header>
        <div class="top">
            <div class="logo">

            </div>
            <div class="search-bar">
<input type="text">

            </div>
        </div>
        <div class="general">
            <h2>
                The Beauty Of Vietnamese Villages
            </h2>
            <p>

            </p>
            <button>
                See more
            </button>
        </div>
    </header>
</body>

</html>